<ion-view title="Registro">
  <ion-content class="padding">
    <form class="list">
      <ion-list>
        <label for="" class="item item-input">
          <span class="input-label">Nombre Completo</span>
          <input type="text" ng-model="data.name">
        </label>
        <label for="" class="item item-input">
          <span class="input-label">Nombre de Usuario</span>
          <input type="text" ng-model="data.username">
        </label>
        <label for="" class="item item-input">
          <span class="input-label">Correo Electronico</span>
          <input type="email" ng-model="data.email">
        </label>
        <label for="" class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="data.password">
        </label>
        <label for="" class="item item-input">
          <span class="input-label">Verifique Contraseña</span>
          <input type="password" ng-model="data.passwordVer">
        </label>
        <button ng-click="signup(data)" class="button button-positive button-block ">
          Regristrarme</button>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
