/* Empty. Add your own CSS if you like */
.important{
  background-color: #B71C1C;
}
.on-time{
  background-color: #33cd5f;
}
.retard{
  background-color: #ffc900;
}
.out-time{
  background-color: #69717d;
}

